<section>
  <mat-form-field appearance="outline" class="mult">
    <mat-label>Games</mat-label>

    <mat-select [formControl]="toppings" multiple (selectionChange)="selectOn($event)">
      <div class="input-search">
        <mat-checkbox
          class="example-margin"
          [checked]=""
          color="primary"
          (change)="setAll($event.checked)"
        >
        </mat-checkbox>
        <input
          class="search"
          type="search"
          (keyup)="search()"
          [formControl]="searchText"
          placeholder="Pesquisar..."
        />
      </div>
     
      @for (topping of gamesList; track topping) {
      <mat-option [value]="topping" >{{ topping }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  {{toppings.value}}
</section>
